html
  head
    title My Site - #{title}
    link(rel='stylesheet', href='style.css')
  body
    include navigation.pug
    

    block content
    .container
      include footer.pug
    script(type='text/javascript' src='frontend.bundle.js')
