.card-columns.mb-3.text-center
  each post in posts
    .card.mb-4.shadow-sm
      img.card-img.top(src=post.image alt=post.title)
      .card-body
        h5.card-title=post.title
        p=post.content
        button.btn.btn-lg.btn-block.btn-outline-primary(type='button') Read more
